{% extends 'mbase.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<div class="second">
    <p class="title"><b>All about </b> <span class="hudname"><b> {{hood.hood_name}} </b></span></p>

    <hr class="prof">
</div>

<div class="flex-container">
    <div class="mainposts">
        <a href="{% url 'biz_details' %}"><button class="button">Add Business Post</button></a>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock %}