{% extends 'mbase.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="row">
    <div class="col-md-6">
        <div class="second">
            <p class="title"><b>All about </b> <span class="hudname"><b> {{hood.hood_name}} </b></span></p>
            <hr class="prof">

            <a href="{% url 'biz_details'  %}"><button class="button">Add Business Post</button></a>
        </div>

        {% for b in biz %}
        <div class="all">
        <div class="mydetails">
              
            <p class=name><b>{{b.person}}</b></p>
            <p>{{user.email}}</p>
            <hr>
        </div>

        <div class="myposts">
            <p class="bizname"><b>BUSINESS NAME</b>:<span class="in_name">{{b.bizname}}</span></p>
            <p><b>POST</b>: <span class="in_name">{{b.bizpost}}</span></p>
          

        </div>
        </div>
        {% endfor %}
        
    </div>
   
    <div class="col-md-6">
        <div class="card">
            <img src='/static/images/police.jpg' alt="Police" style="width:100%">
            <div class="img_container">
                <h4><b>Neighbourhood Police</b></h4>
                <p>Offices near Makutano Supermarket</p>
            </div>
        </div>

        <div class="card">
            <img src='/static/images/health.jpg' alt="Health" style="width:100%">
            <div class="img_container">
                <h4><b>Health center</b></h4>
                <p>Near Moe's cafe</p>
            </div>
        </div>


    </div>

</div>


{% endblock %}