{% extends 'mbase.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="container">
    <div class="row">

        <div class="col-md-5">
                <h1 class="p_title"> <b>Profile</b> </h1>
                <hr class="prof">
            <div class="main_prof">
                <div class="image">
                    {% for profile in profiles %}
                    <img src='{{profile.profile_image.url}}' alt="{{profile.me.username}}'s profile pic">
                </div>

                <h4 class="name"><b>{{profile.me.username}}</b></h4>
                <p class="txt">Resides in: <span class="lives">{{profile.myhood.hood_name}}, {{profile.myhood.hood_location}}</span></p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-5 posts">
                <h1 class="p_title"> <b>Posts</b> </h1>
                <hr class="prof">
        </div>

    </div>
</div>
{% endblock %}