.first{
    margin-left: 20px;
    display: inline-block;
}
img{
    height: 225px;
}
.title{
    font-size: 24px;
    margin-top: 20px;
    color: dimgrey;
}
.info{
    font-size: 16px;
}
.head{
    color: navy;
}
hr.prof{
    border: 4px solid navy;
    width: 60px;
    margin-left: -0px;
    margin-top: -7px;
}
.headtxt{
    color: dimgray;
}
.hudname{
    color: navy;
}
img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.p_title {
    font-size: 30px;
    margin-top: 50px;
    text-transform: uppercase;
    color: dimgray;
}
hr.prof{
    border: 4px solid navy;
    width: 50px;
    margin-left: -0px;
}
.txt{
    margin-left: 20px;
}
.lives{
    color: darkslategrey;
}
/* .card{
    width: 300px;
    margin: 20px !important;
} */
.button {
    background-color: white; 
    color: black; 
    border: 2px solid dimgray;
    padding: 11px;
    border-radius: 27px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.name{
    text-transform: uppercase;
}
.in_name{
    margin-left: 20px;
}
.mainposts{
    width: 500px;
    display: inline-block;
    margin-left: 40px;
}
.majina{
    display: inline-block;
}
.row{
    margin-left: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .img_container {
    padding: 10px 16px;
  }
.mabiz{
    display: inline-block;
}
.mydetails{
    display: inline-block;

}
.myposts{
    display: inline-block;
    margin-left: 50px;
}
.all{
    width: 700px;
}